<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show In Detail</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>My Content in Detail</h1>
    <h3>Post Id : <%= post.id %> </h3>

    <div class="post">
        <h2 class="user"> <%= post.username %> </h2> <br>
        <h4 class="content"> <%= post.content %> </h4>
    </div>

</body>
</html>